<?xml version="1.0"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="DocToSoc.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
    </sectionGroup>
  </configSections>
  <appSettings>
    <add key="MacrosFile" value = ".\DocToSoc.xlsb"/>
    <add key="ReportsFile" value=".\Reports.xml"></add>
    <add key="socrata.host" value="https://data.nola.gov"/>
    <add key="socrata.username" value="myUserName"/>
    <add key="socrata.password" value="myPassword"/>
    <add key="socrata.app_token" value="myApptoken"/>
  </appSettings>
  <userSettings>
    <DocToSoc.Properties.Settings>
      <setting name="okButton" serializeAs="String">
        <value>OK</value>
      </setting>
    </DocToSoc.Properties.Settings>
  </userSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
